# Gradle build
.gradle/
build/
*/build/

# Java
*.class
*.log
*.jar
*.war
*.ear

# IDE files
.idea/
*.iml
*.iws
.vscode/
*.classpath
*.project
*.settings/

# OS-specific
.DS_Store
Thumbs.db

# Miscellaneous
*.tmp
*.bak
*~.nib

# libGDX / assets
assets/assets.txt
